.produtos_container {
    display: inline-flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

.teste {
  justify-content: space-around;
  display: flex;
}

.titulo{
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
  background-color: #FFE9C7;
  padding: 10px;
  border-radius: 10px;
  color: #da9408;
}

.vermelho{
  color: red;
}

.titulo_colorido{
  background: linear-gradient(to right,
      blue 20%,
      green 20%, green 40%,
      red 40%, red 60%,
      orange 60%, orange 80%,
      purple 80%
    );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media (max-width: 600px){
  .produtos_container {
    margin-left: auto;
    margin-right: auto;
  }
  .titulo{
    font-size: 25px;
    width: 85%;
  }
}