.produtos_container div {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
.teste {
  justify-content: space-around;
  display: flex;
}
@media (max-width: 600px){
  .produtos_container div {
    margin-left: auto;
    margin-right: auto;
  }
}