.conteiner_login{
    background-color: #FFF;
    margin: auto;
    width: 25em;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

input{
    margin-top: 0.5em;
    padding: 9px;
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
    margin-left: 0.5em;
    outline: none;
}

input:checked{
    background-color: blanchedalmond;
    border: none;
}

.btnLogin{
    cursor: pointer;
    margin-top: 1em;
    padding: 6px;
    background-color: rgb(240, 191, 118);
    border: none;
    border-radius: 5px;
    width: 10em;
    transition: 0.3s;
    margin-bottom: 1em;
}

.btnLogin:hover{
    width: 12em;
    background-color: rgb(255, 192, 98);
}

.cadastrar{
    font-size: 15px;    
}

.cadastrar a{
    color: #222;
}

.mensagem{
    display: none;
    font-size: 15px;
}

.mensagem_error{
    display: block;
    color: red;
    font-size: 15px;
}

@media (max-width: 600px){
    .conteiner_login{
        width: 70%;
        margin-top: 3em;
    }
}