.produto_container{
    width:20em;
    height: 28em;
    background-color: #fff;
    margin-bottom: 1.5em;
    transition: 0.7s;
    position: relative;
    margin: auto;
}

.produto_container{
    align-items: center;
}

.produto_container_verde{
    width:21em;
    background-color: #d2faba;
    margin-bottom: 1.5em;
    transition: 0.7s;
    position: relative;
    margin: auto;
    align-items: center;
}

.informacoes{
    width: 90%;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.valorasd{
    display: block;
}

.imagem_produto{
    width: 85%;
    margin: auto;
    display: block;
}

.produto_opcoes{
    position:absolute;
    right: 0.5em;
    top: 0.5em;
}

.texto{
    width: 650px;
    font-size: 16px; 
    line-height: 1.5;
}

.btn{
    border: none;
    background-color: #f5d7a9;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
    transition: 0.5s;
}

.valor_antigo{
    text-decoration: line-through;
    color: crimson;
}

.valor_novo{
    color: rgb(9, 255, 0);
}

.btn img{
    width: 25px;    
}

.invisivel {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity 0.3s ease; 
    position: absolute; 
    bottom: -100%; 
    left: 0;
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 10px; 
    box-sizing: border-box; 
}

.produto_container:hover{
    width: 23em;
}

.produto_container:hover .invisivel {
    display: block;
    opacity: 1; 
    visibility: visible; 
    bottom: 0;
}

.btn:hover{
    background-color: #f5bf6f;
}