.navbar{
    display: flex;
    background-color: #FFE9C7;
    width: 96%;
    margin: auto;
    margin-top: 1em;
    border-radius: 55px;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5em;
    padding-left: 0.5em;
    padding-right: 2.5em;
    padding-bottom: 0.5em;
}

.logo_imagem{
    width: 5.5em;
    margin-left: 2em;
}

.logo_escrita{
    width: 17em;
    margin-bottom: 1em;
}


.item a, .item_login a{
    text-decoration: none;
    color: #222;
    position: relative;
    transition: 0.3s;
}

.item a::before, .item_login a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    color: #da9408;
    background-color: #da9408;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.item a:hover{
    font-size: 20px;
    background-color: #ffe3ab;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.item_login a:hover{
    font-size: 20px;
}

.item a:hover::before, .item_login a:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width: 1000px){
    .navbar{
        width: 100%;
        margin-top: 0em;
        border-radius: 0px;
    }

    .list{
        width: 100%;
        justify-content: center;
        padding-left: 0em;
        padding-right: 0em;
    }

    .item a:hover{
        font-size: 18px;
        background-color: #ffe3ab;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}