.conteiner{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min_heigth{
    min-height: 75%;
}
.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 500px){
    .conteiner{
        width: 100%;
        display: block;
    }
    .min_heigth{
        min-height: 100%;
    }
}