.conteiner_total{
    display: flex;
}
.conteiner_opcao{
    background-color: #fff5e6;
    border-radius: 20px;
    display: flex;
    width: 8em;
    height: 2em;
}
.btnMais{
    background-color: #fccc84;
    border: none;
    width: 2em;
    border-end-end-radius: 11px;
    border-top-right-radius: 11px;
    transition: 0.9s;
}
.btnMenos{
    background-color: #fccc84;
    border: none;
    width: 2em;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
    transition: 0.9s;
}
.conteiner_opcao p{
    margin: auto;
}
.valor{
    margin-right: 10em;
}

.btnMenosRemover{
    background-color: #fccc84;
    border: none;
    width: 5em;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
    transition: 0.9s;
}

.btnMais:hover{
    background-color: #fc9684;
}

.btnMenos:hover{
    background-color: #fc9684;
}
.btnMenosRemover:hover{
    background-color: #fc9684;
}