.produtosCaixa_container{
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1.5em;
}
.produtosCaixa_container{
    align-items: center;
}
.texto{
    margin-left: 1.5em;
    margin-right: 1.5em;
}