.imagem_produto{
    width: 15%;
    margin-right: 2em;
}
.produto_carrinho_container{
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 1em;
    transition: 0.6s;
    margin-bottom: 1em;
}
.descricao_produto{
    display: flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
}

.produto_carrinho_container:hover{
    width: 102%;
}

@media (max-width: 600px){
    .produto_carrinho_container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .imagem_produto{
        width: 60%;
        margin: auto;
    }
    .descricao_produto{
        flex-direction: column;
        padding: 15px;
    }
  }