.produtosCaixa_container{
    display: flex;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1.5em;
    margin-left: -20%;
    align-items: center;
    transition: 0.3s;
    animation: moveToCenter 2s ease-out forwards;
}

@keyframes moveToCenter {
    from {
        top: 0;
        left: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(10%, 0);
    }
}

.texto{
    margin-left: 1.5em;
    margin-right: 1.5em;    
}

@media (max-width: 600px){
    .produtosCaixa_container{
        display: block;
        width: 120%;
    }
    .imagens_caixa{
        max-width: 80%;
        width: auto;
        height: auto;
    }
}
