.section_login{
    margin-top: 3em;
    margin-bottom: 3em;
    min-height: 70%;
}

.conteiner_login{
    background-color: #ffffffd0;
    margin: auto;
    width: 25em;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;   
}

.conteinerLoginTitle{
    font-size: 1.5em;
    margin-left: 0.5em;
    text-align: center;
    width: 20%;
    color: #da9408;
    border-bottom: 1px solid #da9408;
}

.conteinerLoginForm{
    width: 90%;
    margin: auto;
    margin-top: 3em;
}

.section_login{
    width: 100%;
    display: flex;
}

.conteinerLoginInput{
    margin-top: 1em;
}

.mensagem{
    display: none;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size:medium;
}

input:active, input:focus{
    outline: none;
}

.conteinerLoginButton{
    display: grid;
}

.btnLogin{
    padding: 7px;
    border: none;
    background-color: #da9408;
    color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 3em;
    font-size: 1.09em;
    cursor: pointer;
}

.cadastrar{
    margin: auto;
    margin-top: 0.7em;
    color: black;
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
}

.mensagem_error{
    display: none;
    color: red;
    font-size: 12px;
}
