.conteiner_itens_carrinho{
    margin: auto;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    transition: 0.5s;
}

/* .conteiner_itens_carrinho:hover{
    width: 28%;
} */

.conteinerCarMessageLogin{
    min-height: 70%;
    display: flex;
    justify-content: space-around;
}

.mensagem_carrinho{
    background-color: rgb(250, 230, 192);
    margin: auto;
    align-items: center;
    color: rgb(44, 44, 44);
    padding: 1em;
    border-radius: 15px;
    text-align: center;
    width: 50%;
}

.conteinerCartProducts{
    width: 60%;
    margin: auto;
}

.mensagem_carrinho a{
    color: #da9408;
    transition: 0.5s;
}

.mensagem_carrinho a:hover{
    font-size: 1.2em;
}

.conteinerCart{
    display: flex;
}

.conteinerCartValueCart{
    width: 30%;
    background-color: white;
    margin: auto;
}

@media (max-width: 600px){
    .mensagem_carrinho{
        width: 90%;
        margin-top: 2em;
    }
}